* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #999;
    font-size: 12px;
    background: #bfbfbf;

}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 0 15px 0;
}

h1 {
    font-size: 36px;
    letter-spacing: -2px;
    line-height: 100%;
}

h1.title {
    font-size: 46px;
    font-weight: 700;
    color: #6a6a6a;

}

h2 {
    font-size: 24px;
}

p {
    margin: 0 0 15px 0;
}

ol{
    list-style-type: decimal;
    padding-left: 40px;
}

ul{
    list-style-type: disc;
    padding-left: 20px;
}

.menuBtn {

    background: center center no-repeat transparent;
    background: #000;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 10px;

}

.active {
    background: #3B5323;
}

.clear {
    clear: both;
}

.container{
    clear: both;
}

.cell{
    float:left;
}

.cell + .cell{
    padding-left: 2%;
}

.cell img{
    max-width: 100%;
}

.wrap {
    /*background:url(../images/bg.png) top left repeat-x;*/
    width: 100%;
    max-width: 1140px;
    min-width: 960px;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0;

}

.section {
    width: 100%;
    max-width: 1140px;
    min-width: 960px;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.inner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    min-height: 50px;
    padding: 30px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 30px 0;
}

/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
    position: absolute;
    top: 462px;
    height: 50px;
    z-index: 1000;
    width: 100%;
    max-width: 1140px;
    min-width: 960px;
    background: #aabd46;

}

.subMenu .inner {
    padding: 0;
    font-weight: 400;
}

.subNavBtn {
    display: block;
    height: 35px;
    width: 12%;
    float: left;
    margin: 0px 0px 0 0;
    text-decoration: none;
    font-size: 14px;
    padding: 15px 2% 0 2%;
    text-align: center;
    color: #fff;
}

.end {
    margin: 0;
}

/* SECTIONS */


.section{
    min-height: 500px;
    background: #2e2e2e;
}

.sTop {
    min-height: 630px;
    background: #e5e5e5;
    color: #3d3d3d;

}
.s1 {
    background: #2e2e2e;
}

.s2 {
    background: #3f3f3f;
}

.s3 {
    background: #504f4f;
}

.s4 {
    background: #6e87a1;
    color: white;
}

.s5 {
    background: #293b4d;
    color: white;
}

table {
    border-collapse: collapse;
    margin: 10px 0;
}

table * {
    padding: 5px;
    border: 1px solid #ACACAC;
}

/*-----------------------------*/
/*       ATLASSIAN MACROS      */
/*-----------------------------*/

/*  Annotations   */

.annotation {
    display: block;
    padding: 15px;
    margin: 10px 0;
    font-size: 1em;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.annotation p:last-child {
    margin: 0
}

.annotation.warning {
    color: #FFC2C2;
    background: #FF0000;
    border: 1px solid #FF0000;
}

.annotation.tip {
    color: #EBFFD3;
    background: #7DC438;
    border: 1px solid #5F8B29;
}

.annotation.note {
    color: #DDF7FF;
    background: #0DC7FF;
    border: 1px solid #0DC7FF;
}

.annotation.info {
    color: #FFE7C0;
    background: #E8930C;
    border: 1px solid #E8930C;
}

/*  Panels  */

.panel {
    color: #666;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin: 10px 0;
    overflow-x: auto;
}

.panel div{
    padding: 10px;
}

.panel .panel-title{
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid #777;
    font-size: 0.8em;
}

