        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1 user-scalable=no"/>
        <meta charset="utf-8"/>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'/>
        <link href="${theme.baseUrl}/css/smint.css" rel="stylesheet" type="text/css"/>


        <noscript>
            <link rel="stylesheet" type="text/css" href="css/noJS.css"/>
        </noscript>

        <script type="text/javascript" src="${theme.baseUrl}/js/jquery.min.js"></script>
        <script type="text/javascript" src="${theme.baseUrl}/js/jquery.smint.js"></script>
        <script type="text/javascript" src="${theme.baseUrl}/js/jquery.cycle2.min.js"></script>
        <script type="text/javascript" src="${theme.baseUrl}/js/custom.js"></script>